<div
  class="px-3 py-2 bg-opacity-75 border-l-4 text-white rounded-md w-64 z-50"
  *ngIf="notification"
  data-testid-notification
  [class.bg-red]="notification.type === 'Error'"
  [class.border-red]="notification.type === 'Error'"
  [class.bg-tertiary]="notification.type === 'Warning'"
  [class.border-tertiary]="notification.type === 'Warning'"
  [class.bg-green]="notification.type === 'Success'"
  [class.border-green]="notification.type === 'Success'"
>
  <p *ngIf="notification.type" class="font-medium mb-1">
    {{ "general." + notification.type.toLowerCase() | translate }}
  </p>
  <p class="text-sm">
    <ng-container *ngIf="notification.message">
      {{ notification.message | translate }}
    </ng-container>
    <ng-container *ngIf="!notification.message">
      {{ "error.unknown" | translate }}
    </ng-container>
  </p>
</div>
