:host {
  width: 100%;
  transition: 0.5s;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
}
